/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache/*
/storage/framework/views/*
.env
.env.backup
.env.production
.phpunit.cache
Homestead.json
Homestead.yaml
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.phpactor.json
Thumbs.db
*.log
.DS_Store
/auth.json
